@model Pracownice.Models.Pracownica


@{
    ViewBag.Title = "Pracownica";
}

  <link rel="stylesheet" type="text/css" href="../../Content/jQueryGallery/jquery.ad-gallery.css">
  <link href="../../Content/prettyPhoto.css" rel="stylesheet" type="text/css" />


  <script type="text/javascript" src="../../Content/jQueryGallery/jquery.ad-gallery.js"></script>
  <script src="../../Scripts/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script> 
 
  <script type="text/javascript">


     $(document).ready(function () {
  			        $("area[rel^='prettyPhoto']").prettyPhoto();

  			        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: false });
  			        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });

  			        $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
  			            custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
  			            changepicturecallback: function () { initialize(); }
  			        });

  			        $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
  			            custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
  			            changepicturecallback: function () { _bsap.exec(); }
  			        });
  			    });

      $(function () {
          $('img.image1').data('ad-desc', 'Whoa! This description is set through elm.data("ad-desc") instead of using the longdesc attribute.<br>And it contains <strong>H</strong>ow <strong>T</strong>o <strong>M</strong>eet <strong>L</strong>adies... <em>What?</em> That aint what HTML stands for? Man...');
          $('img.image1').data('ad-title', 'Title through $.data');
          $('img.image4').data('ad-desc', 'This image is wider than the wrapper, so it has been scaled down');
          $('img.image5').data('ad-desc', 'This image is higher than the wrapper, so it has been scaled down');
          var galleries = $('.ad-gallery').adGallery();
          $('#switch-effect').change(
      function () {
          galleries[0].settings.effect = $(this).val();
          return false;
      }
    );
          $('#toggle-slideshow').click(
      function () {
          galleries[0].slideshow.toggle();
          return false;
      }
    );
          $('#toggle-description').click(
      function () {
          if (!galleries[0].settings.description_wrapper) {
              galleries[0].settings.description_wrapper = $('#descriptions');
          } else {
              galleries[0].settings.description_wrapper = false;
          }
          return false;
      }
    );
      });
  </script>

  <div class="titlePracownica">
    @Model.Name
  </div>

  <div class="ikonyGaleria">
    <ul class="gallery clearfix"> 
        <a href="@Url.Action("UslugiDisplay", "Pracownica", new { id = Model.PracownicaID });iframe=true&amp;width=80%&amp;height=90%" rel="prettyPhoto[iframe]"> <img src="../../Content/Images/icon_question.png" width=50 style="margin:5px"/></a>

        <a href="DodajDOUlubionych">
            <img src="../../Content/Images/UlubioneIcon.png" alt="Alternate Text" /></a>

        <a href="DodajOpnie">
            <img src="../../Content/Images/dodajOpinieIcon.png" alt="Alternate Text" /></a>

         <a href="ZglosNaruszenie">
            <img src="../../Content/Images/zglosNaruszenieIcon.png" alt="Alternate Text" style="margin-left:15px" /></a>

    </ul>
    
  </div>

  <div class="opisNaglowekPracownica" >
    @Model.HeaderDescription
  </div>


  <div class="GaleriaPracownica">
        <div id="gallery" class="ad-gallery">
          <div class="ad-image-wrapper">
          </div>
          <div class="ad-nav" >
            <div class="ad-thumbs" style="text-align:center;" >
              <ul class="ad-thumb-list">

              @foreach(var item in Model.Files  )
              {
                <li>
                  <a href=@item.Url>
                    <img src="@item.Url?height=120" class="image0">
                  </a>
                </li>
              }          

              </ul>
            </div>
          </div>
        </div>
  </div>

  <div class="DanePracownica">
     @Html.Action("Dane", new { id = Model.PracownicaID })
  </div> 

<div class="PracownicaTrescOferty">
    <img src="../../Content/Images/trescOfertyIcon.png" alt="Alternate Text" /></a>  
    
    <div class="PracownicaOpisOferty">
        @Model.OfertaDescription
    </div>

</div>