@model List<Pracownice.Models.Usluga>

@{
    ViewBag.Title = "UslugiDisplay";
}

<link href="@Url.Content("~/Content/pracownicaStyle.css")" rel="stylesheet" type="text/css" />

<div id="UslugiTloPracownica"></div>
    <div id="UslugiNapis">
        @foreach (var item in Model)
        {
            if (item.Active == true)
            {
                <li>
                     @item.Name
                     @item.Description
                     @item.Prize
                     @item.Time
                </li>
            }
        }
   </div>


